@model IEnumerable<MVC.Models.FirmyModel>

@{
    ViewBag.Title = "Zarządzanie kontrahentami";
}
<br />
<p>
    <a href="@Url.Action("DodajLubEdytuj","Firmy")" class="btn btn-info">Dodaj nowego kontrahenta</a>
</p>
<table class="table table-striped">
    <thead class="table-heading">
        <tr>
            <th class="text-center">
                Nazwa firmy
            </th>
            <th class="text-center">
                Numer NIP
            </th>
            <th class="text-center">
                Numer REGON
            </th>
            <th class="text-center">
                Adres
            </th>
            <th class="text-center">
                Numer telefonu
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.StronaWWW)
            </th>
            <th class="text-center">
                Numer konta
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.NazwaFirmy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Regon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Miasto), @Html.DisplayFor(modelItem => item.Ulica) @Html.DisplayFor(modelItem => item.NrBudynku)/@Html.DisplayFor(modelItem => item.NrLokalu) <br /> @Html.DisplayFor(modelItem => item.KodPocztowy) @Html.DisplayFor(modelItem => item.Poczta) @Html.DisplayFor(modelItem => item.Kraj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrTelefonu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StronaWWW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrKonta)
            </td>
            <td>
                <a href="@Url.Action("DodajLubEdytuj", "Firmy", new { id = item.IdFirmy})" class="btn btn-info size text-center">Edytuj</a>
                <a onclick="Usun(@item.IdFirmy)" class="btn btn-danger size text-center">Usuń</a>
            </td>
        </tr>
    }

</table>

@section scripts{

    <script>


        $(function () {
            var successMessage = '@TempData["Sukces"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });

        function Usun(id) {
            alertify.confirm('Usuwanie','Czy na pewno chcesz usunąć tego kontrahenta?',function(){
                window.location.href  = '@Url.Action("Usun","Firmy")/'+id;
            },null );
        }
    </script>
}

<style>
    .size {
        width: 66px;
        margin: 2px;
    }

    .table > thead > tr > th {
        border: none;
    }
</style>